<h1>詳細ページ</h1>

<div class="col-sm-8">
    <p>タスク名：<%= @task.content %></p>
    <p>ステータス：<%= @task.status %></p>

    <%= link_to "編集する", edit_task_path  %>
    <%= link_to "削除する", @task, method: :delete, data: { confirm: "You sure?" }  %>
</div>  