<div>
    <h3 class="card-title"><%= @user.name %></h3>
</div>
<div>
  <div class="col-sm-8">
    <ul>
      <li class="nav-item"><a href="/" class="nav-link">Tasklists</a></li>
    </ul>
  </div>
</div>